# 한국신용평가

### 국고체 수익률, 스프레드 데이터

<img src="https://i.imgur.com/LNNG70W.png" >


### 2017 http://financedata.kr

# 요약
* 지정한 날짜의 국고채 수익률과 금리 스프레드 조회

# 국고채 금리 조회

https://www.kisrating.com/ratingsStatistics/statics_spread.do
<img width="80%" src="https://i.imgur.com/fqli7Ky.png" >

# 페이지 읽어오기
pd.read_html() 로 테이블을 모두 읽어온다

In [1]:
import pandas as pd

url = 'https://www.kisrating.com/ratingsStatistics/statics_spread.do'
dfs = pd.read_html(url)

# 국고채 금리

In [2]:
df_interest = dfs[0]
df_interest.set_index('구분', inplace=True)
df_interest

         3월     6월     9월     1년   1년6월     2년     3년     5년
구분
국고채    1.24   1.29   1.33   1.44   1.55   1.69   1.78   2.00
AAA    1.41   1.46   1.56   1.68   1.75   1.91   2.07   2.31
AA+    1.45   1.50   1.58   1.71   1.78   1.93   2.13   2.44
AA     1.50   1.54   1.63   1.75   1.83   1.99   2.19   2.52
AA-    1.53   1.57   1.65   1.78   1.87   2.02   2.22   2.61
A+     1.75   1.84   1.95   2.13   2.23   2.48   2.79   3.22
A      1.91   1.99   2.11   2.30   2.39   2.63   3.03   3.62
A-     2.12   2.22   2.35   2.55   2.65   2.91   3.40   4.15
BBB+   2.72   3.15   3.61   3.96   4.45   5.12   5.99   6.25
BBB    3.10   3.65   4.19   4.63   5.26   6.06   7.03   7.30
BBB-   3.77   4.44   5.12   5.61   6.37   7.21   8.40   8.72
BB+    5.22   6.01   6.72   7.32   8.07   8.94  10.34  11.01
BB     5.93   6.75   7.49   8.11   8.90   9.81  11.26  12.00
BB-    6.47   7.30   8.05   8.67   9.47  10.38  11.84  12.60
B     10.24  11.26  12.17  12.93  13.95  15.05  16.81  17.98

# 금리 스프레드

In [3]:
df_spread = dfs[1]
df_spread.set_index('구분', inplace=True)
df_spread

         3월     6월     9월     1년   1년6월     2년     3년     5년
구분
국고채   1.24%  1.29%  1.33%  1.44%  1.55%  1.69%  1.78%  2.00%
AAA      17     17     23     24     20     22     29     31
AA+      21     21     25     27     23     24     35     44
AA       26     25     30     31     28     30     41     52
AA-      29     28     32     34     32     33     44     61
A+       51     55     62     69     68     79    101    122
A        67     70     78     86     84     94    125    162
A-       88     93    102    111    110    122    162    215
BBB+    148    186    228    252    290    343    421    425
BBB     186    236    286    319    371    437    525    530
BBB-    253    315    379    417    482    552    662    672
BB+     398    472    539    588    652    725    856    901
BB      469    546    616    667    735    812    948   1000
BB-     523    601    672    723    792    869   1006   1060
B       900    997   1084   1149   1240   1336   1503   1598

In [4]:
df_interest.loc['BBB+', '6월']

3.1499999999999999

In [5]:
df_interest.loc['국고채', '2년']

1.6899999999999999

# 특정 날짜의 국고채 금리

날짜를 지정하고 검색
* https://www.kisrating.com/ratingsStatistics/statics_spread.do
* startDt:2017.09.01
<img src="https://i.imgur.com/JiFo2Lt.png" >

In [6]:
import pandas as pd
import requests

url = 'https://www.kisrating.com/ratingsStatistics/statics_spread.do'
data = {'startDt':'2016.09.01'}
r = requests.post(url, data=data)

dfs = pd.read_html(r.text)
df_interest = dfs[0]
df_interest.set_index('구분', inplace=True)
df_interest

         3월     6월     9월     1년   1년6월     2년     3년     5년
구분
국고채    1.27   1.29   1.32   1.32   1.33   1.34   1.33   1.38
AAA    1.31   1.34   1.36   1.39   1.43   1.44   1.48   1.58
AA+    1.37   1.39   1.40   1.42   1.46   1.50   1.57   1.70
AA     1.41   1.43   1.45   1.47   1.50   1.55   1.62   1.79
AA-    1.47   1.49   1.50   1.53   1.57   1.61   1.68   1.91
A+     1.82   1.88   1.92   2.01   2.06   2.15   2.32   2.55
A      1.97   2.02   2.07   2.17   2.22   2.31   2.56   2.95
A-     2.18   2.25   2.30   2.41   2.46   2.57   2.92   3.47
BBB+   2.67   3.08   3.47   3.71   4.17   4.68   5.41   5.55
BBB    3.05   3.58   4.05   4.38   4.98   5.62   6.46   6.60
BBB-   3.72   4.37   4.98   5.36   6.09   6.77   7.82   8.02
BB+    5.17   5.94   6.58   7.07   7.79   8.50   9.76  10.31
BB     5.88   6.68   7.35   7.86   8.62   9.37  10.68  11.30
BB-    6.42   7.23   7.90   8.42   9.19   9.94  11.27  11.90
B     10.20  11.19  12.02  12.68  13.67  14.61  16.23  17.28

In [7]:
df_interest.loc['BBB+', '6월']

3.0800000000000001

### 2017 http://financedata.kr