# 파이썬 엑셀 02 - OpenPyXL

<img width="30%" src="https://i.imgur.com/4NZ1Tiw.jpg" >
    
### 2018 FinanceData.KR http://financedata.kr

# 파이썬 + 엑셀 데스크탑 자동화 도구

파이썬에서 엑셀을 다루는 라이브러리는 꽤 다양한데,
크게 엑셀 파일을 읽고 쓰는 라이브러리(xlrd & xlwt, openpyxl, xlsxwriter)와 엑셀과 상호작용 하는 부류(xlwings, PyWin32)로 나눌 수 있습니다.

### xlwings
* http://xlwings.org/
* 문서 https://goo.gl/WGsFVc (PDF)
* 엑셀 자동화 스크립팅, 엑셀의 VBA를 Python으로 대체
* Windows, OSX 지원, 설치된 엑셀 필요

### openpyxl
* https://openpyxl.readthedocs.io
* 2010 (.xlsx) 포맷 읽고 쓰기 지원
* 설치된 엑셀 필요 없음

### xlrd & xlwt
* http://xlrd.readthedocs.io , http://xlwt.readthedocs.io
* 엑셀 파일 읽기/쓰기 (가볍고 빠르다, 기능이 적다)
* 설치된 엑셀 필요 없음

### xlsxwriter
* https://xlsxwriter.readthedocs.org/
* 2010 (.xlsx) 포맷 쓰기, 차트 가능 
* 설치된 엑셀 필요 없음

### PyWin32
* 윈도우의 COM 기술(정확히는 OLE Automation) 사용
* 엑셀 뿐만 아니라 다양한 오피스 제품과 상호작용이 가능
* Windows 지원, 설치된 엑셀 필요

# 파이썬+엑셀 추천
* 설치된 엑셀 + 매크로 자동화(Windows, Mac): xlwings 추천 
* 엑셀SW 없이 파이썬에서 엑셀 파일 생성, 처리 자동화: openpyxl 추천

# OpenPyXL
* https://openpyxl.readthedocs.io
* 2010 (.xlsx) 포맷 읽고 쓰기 지원
* 설치된 엑셀 필요 없음

# 예제 데이터 - 광고비 지출

https://gist.github.com/FinanceData/f61436d6ca76a60b81ec9ad09fefbb3e

In [1]:
import pandas as pd

In [2]:
df_KT = pd.read_csv('https://goo.gl/cjrrHm')
df_KT

     month    adexp
0  2013-01  7039177
1  2013-02  6960795
2  2013-03  6438333
3  2013-04  5024973
4  2013-05  7327214
5  2013-06  5891620

In [3]:
df_SKT = pd.read_csv('https://goo.gl/WkkUay')
df_SKT

     month     adexp
0  2013-01   5277359
1  2013-02   9523039
2  2013-03   8420870
3  2013-04   8114839
4  2013-05  10809910
5  2013-06   8650904

In [4]:
df_KT.to_excel('KT.xlsx')
df_SKT.to_excel('SKT.xlsx')

# 두 엑셀 파일 읽어 하나로 합치기

In [5]:
df_KT = pd.read_excel('KT.xlsx')
df_KT.set_index('month', inplace=True)
df_KT

           adexp
month
2013-01  7039177
2013-02  6960795
2013-03  6438333
2013-04  5024973
2013-05  7327214
2013-06  5891620

In [6]:
df_SKT = pd.read_excel('SKT.xlsx')
df_SKT.set_index('month', inplace=True)
df_SKT

            adexp
month
2013-01   5277359
2013-02   9523039
2013-03   8420870
2013-04   8114839
2013-05  10809910
2013-06   8650904

In [7]:
df_merge = pd.DataFrame()

In [8]:
df_merge['KT'] = df_KT['adexp']
df_merge['SKT'] = df_SKT['adexp']
df_merge

              KT       SKT
month
2013-01  7039177   5277359
2013-02  6960795   9523039
2013-03  6438333   8420870
2013-04  5024973   8114839
2013-05  7327214  10809910
2013-06  5891620   8650904

In [9]:
df_merge.to_excel('merged.xlsx')

merged.xlsx
<img src="https://i.imgur.com/S4u8Rnv.png" >

In [10]:
import openpyxl

# 엑셀 파일 열기
wb = openpyxl.load_workbook('merged.xlsx')
wb

In [11]:
# 시트 이름 얻기
wb.get_sheet_names()

['Sheet1']

In [12]:
# 셀에 접근
sheet = wb.get_sheet_by_name('Sheet1')
sheet['A2'].value

'2013-01'

In [13]:
# cell(row = n, column = m) 셀에 접근

sheet.cell(row = 1, column = 3).value

'SKT'

In [14]:
sheet['B1'].value

'KT'

# 범위 접근

In [15]:
muti_cells = sheet['B2':'B7']
for row in muti_cells:
    for col in row:
        print(col.value)

7039177
6960795
6438333
5024973
7327214
5891620

In [16]:
muti_cells = sheet['B2':'C7']
muti_cells

((<Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>),
 (<Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>),
 (<Cell 'Sheet1'.B4>, <Cell 'Sheet1'.C4>),
 (<Cell 'Sheet1'.B5>, <Cell 'Sheet1'.C5>),
 (<Cell 'Sheet1'.B6>, <Cell 'Sheet1'.C6>),
 (<Cell 'Sheet1'.B7>, <Cell 'Sheet1'.C7>))

In [17]:
for row in muti_cells:
    print(row[0].value, row[1].value)

7039177 5277359
6960795 9523039
6438333 8420870
5024973 8114839
7327214 10809910
5891620 8650904

In [18]:
# 모든 row 살펴보기
for row in sheet.rows:
    print(row[0].value, row[1].value, row[2].value)

month KT SKT
2013-01 7039177 5277359
2013-02 6960795 9523039
2013-03 6438333 8420870
2013-04 5024973 8114839
2013-05 7327214 10809910
2013-06 5891620 8650904

In [19]:
# 모든 column 살펴보기
for col in sheet.columns:
    for r in col:
        print(r.value)

month
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
KT
7039177
6960795
6438333
5024973
7327214
5891620
SKT
5277359
9523039
8420870
8114839
10809910
8650904

# 계산 및 결과 저장

In [20]:
# KT 컬럼
kt_list = [row[0].value for row in sheet['B2':'B7']]
kt_list

[7039177, 6960795, 6438333, 5024973, 7327214, 5891620]

In [21]:
# 합계
sum(kt_list)

38682112

In [22]:
sheet['B8'].value = sum(kt_list)

In [23]:
# '합계'
sheet['A8'].value = '합계'

# SKT 합계 계산
sheet['C8'].value = sum([row[0].value for row in sheet['C2':'C7']])

In [24]:
wb.save("merged_02.xlsx")

<img src="https://i.imgur.com/AQVuoVi.png" >

# 셀에 스타일 지정

In [25]:
from openpyxl.styles import Font, Alignment, Border, Side, Color, PatternFill

cell_sum = sheet['A8']

# 셀 값 지정
cell_sum.value = '합계'

# Font: '맑은 고딕', 크기 15, 굵게
cell_sum.font = Font(name='맑은 고딕', size=15, bold=True)

# Alignment: 가로 세로 , 가운데 정렬
cell_sum.alignment = Alignment(horizontal='center', vertical='center')

# Border: 테두리 지정
thin = Border(
    left=Side(style='thin'), right=Side(style='thin'), 
    top=Side(style='thin'), bottom=Side(style='thin'))

cell_sum.border = thin # Cell 테두리를 지정

# PatternFill: 셀 색상 지정
cell_sum.fill = PatternFill(patternType='solid', fgColor=Color('FFC000'))

In [26]:
wb.save("merged_03.xlsx")

<img src="https://i.imgur.com/EjNohk9.png" >

# 리뷰

* 파이썬+엑셀: xlwings, openpyxl
* 두 엑셀 파일 읽어 하나로 합치기
* 범위 접근 - sheet['B2':'B7']
* 계산 및 결과 저장 - cell.value = val
* 셀에 스타일 지정 - Font, Alignment, Border, Side, Color, PatternFill

### 2018 FinanceData.KR